<div class="centering-container">
    <form [formGroup]="loginForm" (submit)="login()">
        <h1> Log In </h1>
        <div>
            <input type="email" placeholder="Email" formControlName="email">
            <input type="password" placeholder="Password" formControlName="password">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="auth-container">
    <span> Currently authenticating (when possible) with: {{currAuthMethod}} </span>
    <button class="auth-button" (click)="changeAuthMethod()"> Authenticate with {{oppositeOfCurrentAuth}} </button>
</div>